<IfModule mod_rewrite.c>
  RewriteEngine on
  # Must use RewriteBase on www.student.bth.se, Rewritebase for url /~mblu08/test is /~mblu08/test/
  RewriteBase /~mblu08/phpmvc/kmom10_neurosis
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule (.*) index.php/$1 [NC,L]
</IfModule>