/**
* Description: Core theme for Neurosis
*/

/**
* Structure
*/
html{}
body{
   background-color:#eee;
   font: 1em Verdana, Arial, Helvetica, sans-serif;
}

#header,
#main,
#footer {
<<<<<<< HEAD
=======
   margin:0 auto;
   width:970px;
>>>>>>> 62c6a280ead8529bd9558ffe31a0e42cded6ca2f
   background-color:#fff;
   padding: 1em;
}

.validation-failed{border:2px solid red;}
.validation-message{color:red;font-size:smaller;}